
 $color-brand-primary: #8e47ff;
 $color-brand-secondary: #c5312c;
 $color-layer-0: #121212;
 $color-layer-1: #1e1e1e;
 $color-layer-2: #232323;
 $color-layer-3: #272727;
 $color-layer-4: #2c2c2c;
 $color-layer-5: #313131;
 $color-layer-6: #353535;
 $color-layer-7: #3a3a3a;
 $color-layer-8: #3f3f3f;
 $color-layer-9: #444444;
 $color-font-20: #ffffff33;
 $color-font-40: #ffffff66;
 $color-font-50: #ffffff80;
 $color-font-60: #ffffff99;
 $color-font-80: #ffffffcc;
 $color-font-100: #ffffff;
 $color-elevate-1: #ffffff0d;
 $color-elevate-2: #ffffff12;
 $color-elevate-3: #ffffff17;
 $color-elevate-4: #ffffff1c;
 $color-elevate-5: #ffffff21;
 $color-elevate-6: #ffffff26;
 $color-elevate-7: #ffffff2b;
 $color-elevate-8: #ffffff30;
 $color-elevate-9: #ffffff36;
 $color-white-10: #292929;
 $color-white-20: #414141;
 $color-white-30: #595959;
 $color-white-40: #717171;
 $color-white-50: #888888;
 $color-white-60: #a0a0a0;
 $color-white-70: #b7b7b7;
 $color-white-80: #d0d0d0;
 $color-white-90: #e6e6e6;
 $color-white-100: #ffffff;
 $color-extern-twitch: #6441a5;
 $color-extern-youtube: #c4302b;
 $color-extern-github: #4078c0;
 $color-extern-reddit: #ff4500;
 $color-extern-twitter: #1da1f2;
 $color-extern-facebook: #4267b2;
 $color-account-connected: #00ad6e;
 $color-account-disonnected: #e72530;
 $color-streamer-live: #ff0000;
 $color-streamer-ingame: #8e47ff;
 $color-number-increase: #00ad6e;
 $color-number-decrease: #e72530;
 $color-danger: #9c0c14
 $color-severity-ok: #00ad6e;
 $color-severity-info: #067ff6;
 $color-severity-low: #eaf904;
 $color-severity-moderate: #fb8300;
 $color-severity-high: #e72530;
 $color-severity-critical: #9c0c14;
 $font-Kanit: 'Kanit'
 $font-Roboto: 'Roboto'
 $font-Courier-New: 'Courier New'
 $sizing-p-1: .1rem;
 $sizing-p-2: .2rem;
 $sizing-p-4: .4rem;
 $sizing-p-5: .5rem;
 $sizing-p-6: .6rem;
 $sizing-p-8: .8rem;
 $sizing-p-10: 1rem;
 $sizing-p-14: 1.4rem;
 $sizing-p-16: 1.6rem;
 $sizing-p-20: 2rem;
 $sizing-p-24: 2.4rem;
 $sizing-p-32: 3.2rem;
 $sizing-p-40: 4rem;
 $sizing-p-46: 4.6rem;
 $sizing-p-50: 5rem;
 $sizing-p-56: 5.6rem;
 $sizing-p-60: 6rem;
 $sizing-p-64: 6.4rem;
 $sizing-p-80: 8rem;
 $sizing-p-96: 9.6rem;
 $sizing-m-1: .1rem;
 $sizing-m-2: .2rem;
 $sizing-m-4: .4rem;
 $sizing-m-5: .5rem;
 $sizing-m-6: .6rem;
 $sizing-m-8: .8rem;
 $sizing-m-10: 1rem;
 $sizing-m-14: 1.4rem;
 $sizing-m-16: 1.6rem;
 $sizing-m-20: 2rem;
 $sizing-m-24: 2.4rem;
 $sizing-m-32: 3.2rem;
 $sizing-m-40: 4rem;
 $sizing-m-46: 4.6rem;
 $sizing-m-50: 5rem;
 $sizing-m-56: 5.6rem;
 $sizing-m-60: 6rem;
 $sizing-m-64: 6.4rem;
 $sizing-m-80: 8rem;
 $sizing-m-96: 9.6rem;
 $sizing-icon-16: 1.6rem;
 $sizing-icon-18: 1.8rem;
 $sizing-icon-20: 2rem;
 $sizing-icon-24: 2.4rem;
 $sizing-icon-28: 2.8rem;
 $sizing-icon-34: 3.4rem;
 $sizing-icon-36: 3.6rem;
 $sizing-icon-48: 4.8rem;
 $fontSizes-headline-1: 6rem;
 $fontSizes-headline-2: 4.8rem;
 $fontSizes-headline-3: 3.4rem;
 $fontSizes-headline-4: 2.8rem;
 $fontSizes-headline-5: 2.4rem;
 $fontSizes-headline-6: 2rem;
 $fontSizes-subtitle-sm: 1.6rem;
 $fontSizes-subtitle-md: 1.8rem;
 $fontSizes-subtitle-lg: 2rem;
 $fontSizes-body-sm: 1.4rem;
 $fontSizes-body-md: 1.6rem;
 $fontSizes-body-lg: 1.8rem;
 $fontSizes-body-xl: 2rem;
 $fontSizes-button-md: 1.6rem;
 $sizing-game-sm: 760px/428px;
 $sizing-game-md: 1024px/576px;
 $sizing-game-lg: 1365px/765px;
 $sizing-game-fullscreen: 1920px/1080px;
 $sizing-screen-sm: 40.625em;
 $sizing-screen-md: 62.5em;
 $sizing-screen-lg: 100em;
 $sizing-screen-xl: 145em;
 $sizing-radius-sm: .2rem;
 $sizing-radius-md: .6rem;
 $sizing-radius-lg: .8rem;
 $sizing-radius-full: 9999rem;